name: Double M365 Renew Express

on:
  schedule:
    # 每天北京时间 08:30 和 20:30 自动运行，保持活跃
    - cron: '30 0,12 * * *'
  workflow_dispatch: # 支持你手动点击运行

jobs:
  renew:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: pip install requests pynacl

      - name: Renew Account 1
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          G_TOKEN: ${{ secrets.G_TOKEN }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN_1 }}
          SECRET_NAME: "REFRESH_TOKEN_1" # 告诉脚本更新哪个 Secret
        run: python renew.py

      - name: Renew Account 2
        env:
          CLIENT_ID: ${{ secrets.CLIENT_ID }}
          CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          G_TOKEN: ${{ secrets.G_TOKEN }}
          REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN_2 }}
          SECRET_NAME: "REFRESH_TOKEN_2"
        run: python renew.py
